<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>TEST</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>

	<th:block th:if="${email != null} ">
	<p th:text="${email} + '을 확인해주세요'"></p>
	</th:block>
	
	<script th:inline="javascript">
	window.onload = function () {
	
	 /*<![CDATA[*/
	var msg = [[${msg}]];
	
	if(msg != null){
	alert(msg);
	location.href="/login";
	}
	
	/*]]>*/
	}
	</script>
	
	
</body>
</html>