<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>TEST</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>member</h1>
    <h2 sec:authentication='name'> security username </h2>
    <h3> [[${#authentication.name}]]</h3>

    <p sec:authorize-url ="/atest/aaa">
        <a href='/atest/aaa'>admin aaa</a>
    </p>

    <p sec:authorize-url ='/mtest/aaa'>
        <a href="/mtest/aaa">member aaa</a>
    </p>
    
    <h1 sec:authorize = "hasRole('ROLE_ADMIN')">
    ADMIN ROLE
    </h1>
    
    <h1 sec:authorize = "hasRole('ROLE_MEMBER')">
    MEMBER ROLE
    </h1>
    
    <div> [[${#authentication.principal}]] </div>
    <div> [[${#authentication.principal.userDTO}]] </div>
    <div> [[${#authentication.principal.userDTO.email}]] </div>
    
    <div th:with="user=${#authentication.principal.userDTO}">
    <p> [[${user.email}]]</p>
    <p> [[${user.pw}]]</p>
    <p> [[${user.name}]]</p>
    </div>
    
</body>
</html>