<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="context-path" th:content="@{/}" />
<title>스페이스 메인페이지</title>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
	
<!-- 여기 링크+스크립트  나중에 묶어서 header.html 로 둘 예정 -->
<link th:href="@{/css/sidenav.css}" rel="stylesheet">
<link th:href="@{/css/sidenavDrawer.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/theme-1.css}" rel="stylesheet">
<link th:href="@{/css/theme-2.css}" rel="stylesheet">
<link th:href="@{/css/theme-3.css}" rel="stylesheet">
<link th:href="@{/css/theme-4.css}" rel="stylesheet">
<link th:href="@{/css/theme-5.css}" rel="stylesheet">
<link th:href="@{/css/theme-6.css}" rel="stylesheet">
<link th:href="@{/css/theme-7.css}" rel="stylesheet">

</head>
<body>
<!-- Common script -->
<!-- <th:block th:include="common/include-script"></th:block> -->

<!-- Scroll -->
<div style="overflow:auto; width: 500px; height: 150px;">

<div class="app">
	<div class="bodyWrapper">
		<div class="sidebar">
			<th:block th:replace="common/nav/sidenav"></th:block>
			<th:block th:replace="common/nav/sidenavDrawer"></th:block>
			<th:block th:replace="common/nav/navHeader"></th:block>
			<th:block th:replace="common/contents/pageContent"></th:block>

			<!-- <th:block th:replace="~{layout/navBar :: topNavBar}"/> -->
			<!-- <div class="bodyWithSidebarMDExtended"> -->
				<!-- <div layout:fragment="page"></div> -->

				<!-- <div class="body">
					<div id="spacePage">
					<div th:replace="page/spacePage"></div>
					Main Content <div th:replace="${template}"></div>
					<footer th:replace="common/common-footer"></footer>
					</div>
				</div> 
			</div>-->
		</div>
	</div>
</div>

	<!-- Footer 
		<footer class="footer text-center py-2 theme-bg-dark">
			<small class="copyright">Design <i class="fas fa-heart"
				style="color: #fb866a;"></i> by <a
				href="https://blog.naver.com/dustn0514" target="_blank">YeonSu(L
					tomas) </a>
			</small>
		</footer>-->
		</div>
</body>
</html>
