<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
<title>페이지 이름</title>

<!-- 이 페이지에서만 사용하는 css나 js가 있을 경우 넣는 자리 -->

</head>

<body>

	<!-- Scroll -->
	<div style="overflow: auto; width: 500px; height: 150px;">

		<div class="app">
			<div class="bodyWrapper">
				<div class="sidebar">
					<div layout:fragment="pageContent"></div>
				</div>
			</div>
		</div>
	</div>

		<!-- Page Title,Content  -->
		<div class="main-wrapper">
			<form action="/space" method="get">
				<div class="container" align="center">

					<!-- <th:block  th:if="${#strings.equals(pageDetail, 'NoData')}"> -->
					<th:block th:if="${pageDetail == null}">
						<input type="text" class="form-control" placeholder="Untitled"
							id="pageTitle" name="pageTitle" />
					</th:block>

					<!-- Not Null -->
					<th:block th:if="${pageDetail != null}">
						<input th:value="${pageDetail.pageTitle}" type="text"
							class="form-control" placeholder="Untitled" id="pageTitle"
							name="pageTitle" />
					</th:block>

				</div>
				<hr class="container" style="width: 400px;" />
				<div class="container" align="center">

					<!-- Null -->
					<!-- <th:block  th:unless="${pageDetail != 'null' && pageDetail != ''}"> -->
					<th:block th:if="${pageDetail == null}">
						<textarea style="height: 400px" class="form-control"
							placeholder="Enter your content here..." id="pageContent"
							name="pageContent"></textarea>
					</th:block>

					<!-- Not Null -->
					<th:block th:each="ld : ${pageDetail}"
						th:if="${pageDetail != null}">
						<textarea style="height: 400px" class="form-control"
							placeholder="Enter your content here..." id="pageContent"
							name="pageContent" th:text="${ld.pageContent}"></textarea>
					</th:block>
				</div>

				<hr class="container" style="width: 400px;" />
				<!-- Previous,Next -->

				<div class="container-center-plz">
					<!-- 수정  -->
					<div class="container" style="left: 10px; text-align:center;">
						<button class="btn btn-primary btnPre">&laquo; Previous</button>
						<button onclick="save();" type="submit"
							class="btn btn-primary btnSave">저장하기</button>
						<button class="btn btn-primary btnNext">Next &raquo;</button>
					</div>
				</div>
			</form>
		</div>
</body>
</html>
