<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Billing인뎁쇼</title>
<link href="/css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="reset-3c756112--app-68cac36c">
<div class="reset-3c756112--dashboardBody-16d7793c">

<div th:insert="/include/dashboardNavi.html :: dashboardNavi"></div>

<div class="reset-3c756112--dashboardInner-bfcc3d9a">
<div class="reset-3c756112--dashboardContent-33678280">

<div th:insert="/include/dashboardMenu.html :: dashboardMenu"></div>


	<div
		class="reset-3c756112--dashboardTab-2357d04a--dashboardTabWithMenu-1be0e63a">
		<div class="reset-3c756112--dashboardTab-6c6dd16c">
			<div
				class="reset-3c756112--dashboardTabHeader-f7d1f108--S400Bottom-9b457f18">
				<span
					class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--orgTitle-22ea4f82">bitfinal</span>
				<div class="reset-3c756112--dashboardTabContent-12b621e6">
					<div class="reset-3c756112--mobileMenuContainer-19573906">
						<button
							class="button-36063075--small-30ceeddb--button-78c61f17--button-dark-50f870b6--small-54db2a94--mobileMenuButton-42ab09c4">
							<span class="small-3bde6db7--iconOnly-bddce91a"><svg
									preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
									fill="none" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" stroke="currentColor"
									class="icon-7f6730be--text-3f89f380">
									<g>
									<line x1="3" y1="12" x2="21" y2="12"></line>
									<line x1="3" y1="6" x2="21" y2="6"></line>
									<line x1="3" y1="18" x2="21" y2="18"></line></g></svg></span><span
								class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
						</button>
					</div>
					<div class="reset-3c756112--titleContainer-b2de0990">
						<span
							class="text-4505230f--DisplayH900-bfb998fa--textUIFamily-5ebd8e40--white-42ab09c4">Billing</span>
					</div>
					<div class="reset-3c756112--actionsContainer-15fb9d8d"></div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--medium-1b61b7b5"
				style="">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">Current
								subscription</span>
						</div>
					</div>
				</div>
				<div
					class="reset-3c756112--panelBody-19b86669--dark-9f89be6e--medium-b7383e74">
					<div class="reset-3c756112--S200Bottom-9b47328c"></div>
					<div class="reset-3c756112">
						<div class="reset-3c756112--info-45afc8c2">
							<div class="reset-3c756112">
								<div class="reset-3c756112--S100Bottom-15862a5a">
									<span
										class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--greyBase-2c5d8183">Plan</span>
								</div>
								<div class="reset-3c756112">
									<div class="reset-3c756112--contentContainer-2f79c7a6">
										<span
											class="text-4505230f--TextH400-3033861f--textUIFamily-5ebd8e40">Free</span>
									</div>
								</div>
							</div>
							<div class="reset-3c756112">
								<div class="reset-3c756112--S100Bottom-15862a5a">
									<span
										class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--greyBase-2c5d8183">User
										in organization</span>
								</div>
								<div class="reset-3c756112">
									<span
										class="text-4505230f--TextH400-3033861f--textUIFamily-5ebd8e40--white-42ab09c4">3</span>
								</div>
							</div>
							<div class="reset-3c756112">
								<div class="reset-3c756112--S100Bottom-15862a5a">
									<span
										class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--greyBase-2c5d8183">Upcoming
										invoice</span>
								</div>
								<div class="reset-3c756112">
									<div class="reset-3c756112--contentContainer-2f79c7a6">
										<span
											class="text-4505230f--TextH400-3033861f--textUIFamily-5ebd8e40">-</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="reset-3c756112--panelFooter-66b9e28a--medium-b7383e74--dark-9f89be6e">
					<div class="reset-3c756112--panelFooterControls-960f3cf4">
						<button class="button-36063075--medium-6e2a217a--button-f88b8e9a">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--text-8ee2c8b2">Upgrade</span>
						</button>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				style="" role="presentation">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">Payment
								method</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">Visa
								- **** ***** **** 2485</span>
						</div>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				style="" role="presentation">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">Billing
								Details</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">bitfinal
							</span>
						</div>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				role="presentation" style="">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">Invoices</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">May
								8, 2020, $0.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
</div>
</div>
<script th:src="@{/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>