<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spaces</title>
<link href="/css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="reset-3c756112--app-68cac36c">
<div class="reset-3c756112--dashboardBody-16d7793c">

<!-- <div th:insert="/include/dashboardNavi.html :: dashboardNavi"></div> --> 

<div class="reset-3c756112--dashboardInner-bfcc3d9a">
<div class="reset-3c756112--dashboardContent-33678280">

<div th:insert="/include/dashboardMenu.html :: dashboardMenu"></div>

	<div
		class="reset-3c756112--dashboardTab-2357d04a--dashboardTabWithMenu-1be0e63a">
		<div class="reset-3c756112--dashboardTab-6c6dd16c">
			<div
				class="reset-3c756112--dashboardTabHeader-f7d1f108--S400Bottom-9b457f18">
				<span
					class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--orgTitle-22ea4f82">bitfinal</span>
				<div class="reset-3c756112--dashboardTabContent-12b621e6">
					<div class="reset-3c756112--mobileMenuContainer-19573906">
						<button
							class="button-36063075--small-30ceeddb--button-78c61f17--button-dark-50f870b6--small-54db2a94--mobileMenuButton-42ab09c4">
							<span class="small-3bde6db7--iconOnly-bddce91a"><svg
									preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
									fill="none" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" stroke="currentColor"
									class="icon-7f6730be--text-3f89f380">
													<g>
													<line x1="3" y1="12" x2="21" y2="12"></line>
													<line x1="3" y1="6" x2="21" y2="6"></line>
													<line x1="3" y1="18" x2="21" y2="18"></line></g></svg></span><span
								class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
						</button>
					</div>
					<div class="reset-3c756112--titleContainer-b2de0990">
						<span
							class="text-4505230f--DisplayH900-bfb998fa--textUIFamily-5ebd8e40--white-42ab09c4">Spaces</span>
					</div>
					<div class="reset-3c756112--actionsContainer-15fb9d8d">
						<button class="button-36063075--small-30ceeddb--button-5f5907cd">
							<span class="small-3bde6db7"><svg
									preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
									fill="none" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" stroke="currentColor"
									class="icon-7f6730be--text-3f89f380">
													<g>
													<line x1="12" y1="5" x2="12" y2="19"></line>
													<line x1="5" y1="12" x2="19" y2="12"></line></g></svg></span><span
								class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--text-8ee2c8b2">Create
								a new space</span>
						</button>
					</div>
				</div>
			</div>
			<div class="reset-3c756112">
				<div class="reset-3c756112--spaceGroupContainer-34db790b">
					<div class="reset-3c756112--spaceTiles-74a325da">
						<a
							class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--small-1b61b7b4--spaceTile-74b43d75"
							role="presentation" href="/@bitfinal/s/space1/"><div
								class="reset-3c756112--panelHeader-2f79c7a6--small-90fc7d80--panelHeader-56f27afc">
								<div
									class="reset-3c756112--spaceTileMover-03460a55--greyBase-2c5d8183"
									draggable="true">
									<svg preserveAspectRatio="xMidYMid meet" height="1em"
										width="1em" fill="currentColor" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg" stroke="none"
										class="icon-7f6730be--text-3f89f380"
										style="width: 18px; height: 18px;">
														<g>
														<path
											d="M6 10.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-12 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></g></svg>
								</div>
								<div class="reset-3c756112--panelHeaderContainer-011e40db">
									<div class="reset-3c756112--spaceTileHeader-33678280">
										<div
											class="reset-3c756112--logoContainer-da09bede--iconBackground-3a8322de--logoContainerS-2ec8ae1a">
											<span class="wrapper-c9de902e"
												style="width: 24px; height: 24px;"><span
												class="emojione emojione-40-people _270d emoji-64354ccb"
												role="img" alt="✍" title=":writing_hand:"
												aria-label=":writing_hand:"
												style="transform: translate(-50%, -55%) scale(0.6); text-indent: 0em; font-size: 0px; color: rgba(0, 0, 0, 0);">✍</span></span>
										</div>
										<div
											class="reset-3c756112--spaceFlexBody-756c9114--S100Left-3e7ae28a--spaceTitle-5dbb0096">
											<span
												class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--white-42ab09c4">Space122</span>
										</div>
									</div>
								</div>
							</div>
							<div
								class="reset-3c756112--panelFooter-66b9e28a--small-3186f8fb--dark-9f89be6e">
								<div class="reset-3c756112--spaceTileFooter-14929f41">
									<div
										class="reset-3c756112--S100Horizontal-e5e826e6--spaceFlexBody-756c9114">
										<span
											class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">last
											updated <span title="May 20, 2020, 4:51 PM">1mo</span>
										</span>
									</div>
									<div class="reset-3c756112--spaceControls-12b621e6">
										<div aria-label="Default space"
											class="reset-3c756112--S100Right-66923e31--white-42ab09c4--tooltipped-57ae51fe">
											<svg preserveAspectRatio="xMidYMid meet" fill="none"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
												stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" stroke="currentColor"
												class="icon-7f6730be--medium-5b607319">
																<g>
																<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
																<polyline points="9 22 9 12 15 12 15 22"></polyline></g></svg>
										</div>
										<div aria-label="Private"
											class="reset-3c756112--S100Right-66923e31--white-42ab09c4--tooltipped-57ae51fe">
											<svg preserveAspectRatio="xMidYMid meet" fill="none"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
												stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" stroke="currentColor"
												class="icon-7f6730be--medium-5b607319">
																<g>
																<rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
																<path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
										</div>
										<button
											class="button-36063075--xsmall-0989224c--button-78c61f17--button-dark-50f870b6--xsmall-54db2a75">
											<span class="xsmall-5bd9960c--iconOnly-bddce91a"><svg
													preserveAspectRatio="xMidYMid meet" height="1em"
													width="1em" fill="currentColor" viewBox="0 0 13 16"
													xmlns="http://www.w3.org/2000/svg" stroke="none"
													class="icon-7f6730be--text-3f89f380">
																	<g>
																	<path
														d="M1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
														fill-rule="evenodd"></path></g></svg></span><span
												class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
										</button>
									</div>
								</div>
							</div></a><a
							class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--small-1b61b7b4--spaceTile-74b43d75"
							role="presentation" href="/@bitfinal/s/-1/"><div
								class="reset-3c756112--panelHeader-2f79c7a6--small-90fc7d80--panelHeader-56f27afc">
								<div
									class="reset-3c756112--spaceTileMover-03460a55--greyBase-2c5d8183"
									draggable="true">
									<svg preserveAspectRatio="xMidYMid meet" height="1em"
										width="1em" fill="currentColor" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg" stroke="none"
										class="icon-7f6730be--text-3f89f380"
										style="width: 18px; height: 18px;">
														<g>
														<path
											d="M6 10.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-12 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></g></svg>
								</div>
								<div class="reset-3c756112--panelHeaderContainer-011e40db">
									<div class="reset-3c756112--spaceTileHeader-33678280">
										<div
											class="reset-3c756112--logoContainer-da09bede--iconBackground-0954c897--logoContainerS-2ec8ae1a">
											<span class="wrapper-c9de902e"
												style="width: 24px; height: 24px;"><span
												class="emojione emojione-40-nature _1f316 emoji-64354ccb"
												role="img" alt="🌖" title=":waning_gibbous_moon:"
												aria-label=":waning_gibbous_moon:"
												style="transform: translate(-50%, -55%) scale(0.6); text-indent: 0em; font-size: 0px; color: rgba(0, 0, 0, 0);">🌖</span></span>
										</div>
										<div
											class="reset-3c756112--spaceFlexBody-756c9114--S100Left-3e7ae28a--spaceTitle-5dbb0096">
											<span
												class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--white-42ab09c4">테스트
												스페이스</span>
										</div>
									</div>
								</div>
							</div>
							<div
								class="reset-3c756112--panelFooter-66b9e28a--small-3186f8fb--dark-9f89be6e">
								<div class="reset-3c756112--spaceTileFooter-14929f41">
									<div
										class="reset-3c756112--S100Horizontal-e5e826e6--spaceFlexBody-756c9114">
										<span
											class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">last
											updated <span title="May 11, 2020, 5:53 PM">1mo</span>
										</span>
									</div>
									<div class="reset-3c756112--spaceControls-12b621e6">
										<button
											class="button-36063075--xsmall-0989224c--button-78c61f17--button-dark-50f870b6--xsmall-54db2a75">
											<span class="xsmall-5bd9960c--iconOnly-bddce91a"><svg
													preserveAspectRatio="xMidYMid meet" height="1em"
													width="1em" fill="currentColor" viewBox="0 0 13 16"
													xmlns="http://www.w3.org/2000/svg" stroke="none"
													class="icon-7f6730be--text-3f89f380">
																	<g>
																	<path
														d="M1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
														fill-rule="evenodd"></path></g></svg></span><span
												class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
										</button>
									</div>
								</div>
							</div></a><a
							class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--small-1b61b7b4--spaceTile-74b43d75"
							role="presentation" href="/@bitfinal/s/delde/"><div
								class="reset-3c756112--panelHeader-2f79c7a6--small-90fc7d80--panelHeader-56f27afc">
								<div
									class="reset-3c756112--spaceTileMover-03460a55--greyBase-2c5d8183"
									draggable="true">
									<svg preserveAspectRatio="xMidYMid meet" height="1em"
										width="1em" fill="currentColor" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg" stroke="none"
										class="icon-7f6730be--text-3f89f380"
										style="width: 18px; height: 18px;">
														<g>
														<path
											d="M6 10.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-12 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></g></svg>
								</div>
								<div class="reset-3c756112--panelHeaderContainer-011e40db">
									<div class="reset-3c756112--spaceTileHeader-33678280">
										<div
											class="reset-3c756112--logoContainer-da09bede--iconBackground-3a8322de--logoContainerS-2ec8ae1a">
											<span class="wrapper-c9de902e"
												style="width: 24px; height: 24px;"><span
												class="emojione emojione-40-objects _1f4d4 emoji-64354ccb"
												role="img" alt="📔" title=":notebook_with_decorative_cover:"
												aria-label=":notebook_with_decorative_cover:"
												style="transform: translate(-50%, -55%) scale(0.6); text-indent: 0em; font-size: 0px; color: rgba(0, 0, 0, 0);">📔</span></span>
										</div>
										<div
											class="reset-3c756112--spaceFlexBody-756c9114--S100Left-3e7ae28a--spaceTitle-5dbb0096">
											<span
												class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--white-42ab09c4">deldel</span>
										</div>
									</div>
								</div>
							</div>
							<div
								class="reset-3c756112--panelFooter-66b9e28a--small-3186f8fb--dark-9f89be6e">
								<div class="reset-3c756112--spaceTileFooter-14929f41">
									<div
										class="reset-3c756112--S100Horizontal-e5e826e6--spaceFlexBody-756c9114">
										<span
											class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">last
											updated <span title="May 15, 2020, 11:36 AM">1mo</span>
										</span>
									</div>
									<div class="reset-3c756112--spaceControls-12b621e6">
										<div aria-label="Private"
											class="reset-3c756112--S100Right-66923e31--white-42ab09c4--tooltipped-57ae51fe">
											<svg preserveAspectRatio="xMidYMid meet" fill="none"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
												stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" stroke="currentColor"
												class="icon-7f6730be--medium-5b607319">
																<g>
																<rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
																<path d="M7 11V7a5 5 0 0 1 10 0v4"></path></g></svg>
										</div>
										<button
											class="button-36063075--xsmall-0989224c--button-78c61f17--button-dark-50f870b6--xsmall-54db2a75">
											<span class="xsmall-5bd9960c--iconOnly-bddce91a"><svg
													preserveAspectRatio="xMidYMid meet" height="1em"
													width="1em" fill="currentColor" viewBox="0 0 13 16"
													xmlns="http://www.w3.org/2000/svg" stroke="none"
													class="icon-7f6730be--text-3f89f380">
																	<g>
																	<path
														d="M1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
														fill-rule="evenodd"></path></g></svg></span><span
												class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
										</button>
									</div>
								</div>
							</div></a><a
							class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--small-1b61b7b4--spaceTile-74b43d75"
							role="presentation" href="/@bitfinal/s/qwerwer/"><div
								class="reset-3c756112--panelHeader-2f79c7a6--small-90fc7d80--panelHeader-56f27afc">
								<div
									class="reset-3c756112--spaceTileMover-03460a55--greyBase-2c5d8183"
									draggable="true">
									<svg preserveAspectRatio="xMidYMid meet" height="1em"
										width="1em" fill="currentColor" viewBox="0 0 24 24"
										xmlns="http://www.w3.org/2000/svg" stroke="none"
										class="icon-7f6730be--text-3f89f380"
										style="width: 18px; height: 18px;">
														<g>
														<path
											d="M6 10.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-12 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></g></svg>
								</div>
								<div class="reset-3c756112--panelHeaderContainer-011e40db">
									<div class="reset-3c756112--spaceTileHeader-33678280">
										<div
											class="reset-3c756112--logoContainer-da09bede--iconBackground-0954c897--logoContainerS-2ec8ae1a">
											<span class="wrapper-c9de902e"
												style="width: 24px; height: 24px;"><span
												class="emojione emojione-40-objects _1f4da emoji-64354ccb"
												role="img" alt="📚" title=":books:" aria-label=":books:"
												style="transform: translate(-50%, -55%) scale(0.6); text-indent: 0em; font-size: 0px; color: rgba(0, 0, 0, 0);">📚</span></span>
										</div>
										<div
											class="reset-3c756112--spaceFlexBody-756c9114--S100Left-3e7ae28a--spaceTitle-5dbb0096">
											<span
												class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--white-42ab09c4">qwerwer</span>
										</div>
									</div>
								</div>
							</div>
							<div
								class="reset-3c756112--panelFooter-66b9e28a--small-3186f8fb--dark-9f89be6e">
								<div class="reset-3c756112--spaceTileFooter-14929f41">
									<div
										class="reset-3c756112--S100Horizontal-e5e826e6--spaceFlexBody-756c9114">
										<span
											class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">last
											updated <span title="May 15, 2020, 12:27 PM">1mo</span>
										</span>
									</div>
									<div class="reset-3c756112--spaceControls-12b621e6">
										<button
											class="button-36063075--xsmall-0989224c--button-78c61f17--button-dark-50f870b6--xsmall-54db2a75">
											<span class="xsmall-5bd9960c--iconOnly-bddce91a"><svg
													preserveAspectRatio="xMidYMid meet" height="1em"
													width="1em" fill="currentColor" viewBox="0 0 13 16"
													xmlns="http://www.w3.org/2000/svg" stroke="none"
													class="icon-7f6730be--text-3f89f380">
																	<g>
																	<path
														d="M1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
														fill-rule="evenodd"></path></g></svg></span><span
												class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
										</button>
									</div>
								</div>
							</div></a>
						<div
							class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--small-1b61b7b4--createSpaceTile-0646e117"
							role="presentation">
							<div
								class="reset-3c756112--panelBody-19b86669--dark-9f89be6e--small-2f9baf58">
								<div
									class="reset-3c756112--S100Bottom-15862a5a--greyBase-2c5d8183">
									<svg preserveAspectRatio="xMidYMid meet" fill="none"
										xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
										stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" stroke="currentColor"
										class="icon-7f6730be--medium-5b607319">
														<g>
														<line x1="12" y1="5" x2="12" y2="19"></line>
														<line x1="5" y1="12" x2="19" y2="12"></line></g></svg>
									<span
										class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--S100Left-3e7ae28a">Create
										a new space</span><span
										class="reset-3c756112--upgradeLabel-1311b2d3--S200Left-de45343a"><div
											class="reset-3c756112--upgradeIcon-4c75bea8">
											<svg preserveAspectRatio="xMidYMid meet" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"
												shape-rendering="geometricprecision" stroke="none"
												class="icon-7f6730be--small-426bd762">
																<g>
																<path fill-rule="evenodd"
													d="M4.194 7.86L1.85 7.066a.527.527 0 0 1 0-1l2.344-.793a.527.527 0 0 0 .33-.33l.794-2.345a.527.527 0 0 1 1 0l.793 2.345a.527.527 0 0 0 .33.33l2.345.794a.527.527 0 0 1 0 .999l-2.344.794a.527.527 0 0 0-.33.33l-.795 2.344a.527.527 0 0 1-.999 0L4.525 8.19a.527.527 0 0 0-.33-.33zm4.742-4.831L7.94 2.69a.252.252 0 0 1 0-.476l.996-.338a.252.252 0 0 0 .157-.157l.338-.996a.252.252 0 0 1 .476 0l.338.996a.252.252 0 0 0 .157.157l.996.338a.252.252 0 0 1 0 .476l-.996.338a.252.252 0 0 0-.157.157l-.338.996a.252.252 0 0 1-.476 0l-.338-.996a.252.252 0 0 0-.157-.157zm-7.532 7.39l-.523-.177a.231.231 0 0 1 0-.438l.523-.177a.264.264 0 0 0 .165-.165l.177-.523a.231.231 0 0 1 .438 0l.177.523a.264.264 0 0 0 .165.165l.523.177a.231.231 0 0 1 0 .438l-.523.177a.264.264 0 0 0-.165.165l-.177.523a.231.231 0 0 1-.438 0l-.177-.523a.264.264 0 0 0-.165-.165z"></path></g></svg>
										</div>
										<div class="reset-3c756112">
											<span
												class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40">Upgrade</span>
										</div></span>
								</div>
								<div class="reset-3c756112">
									<span
										class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">Edit
										and share content with your team or the public.</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reset-3c756112--spaceGroupContainer-34db790b">
					<div class="reset-3c756112--groupHeader-213a7caf">
						<span
							class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--white-42ab09c4"><div
								style="display: inline-block;">
								<input placeholder="Group Name"
									class="input-cc8f9a68--white-42ab09c4" value="New group"
									style="box-sizing: content-box; width: 70px;">
								<div
									style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Roboto, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">New
									group</div>
								<div
									style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: Roboto, sans-serif; font-weight: 500; font-style: normal; letter-spacing: normal; text-transform: none;">Group
									Name</div>
							</div></span>
						<div
							class="reset-3c756112--menuDivider-4b685e12--white-42ab09c4--menuDividerWithControls-66923e31"></div>
						<button
							class="button-36063075--xsmall-0989224c--button-78c61f17--button-dark-50f870b6--xsmall-54db2a75">
							<span class="xsmall-5bd9960c--iconOnly-bddce91a"><svg
									preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
									fill="currentColor" viewBox="0 0 13 16"
									xmlns="http://www.w3.org/2000/svg" stroke="none"
									class="icon-7f6730be--text-3f89f380">
													<g>
													<path
										d="M1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
										fill-rule="evenodd"></path></g></svg></span><span
								class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
						</button>
					</div>
					<div class="reset-3c756112--spaceTiles-74a325da"></div>
				</div>
				<div class="reset-3c756112--groupHeader-1f0358be--greyBase-2c5d8183">
					<div class="reset-3c756112--createNewGroup-0782a99c"
						role="presentation">
						<svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
							fill="none" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
							stroke-linejoin="round" stroke="currentColor"
							class="icon-7f6730be--text-3f89f380--createNewGroupIcon-10103284">
											<g>
											<line x1="12" y1="5" x2="12" y2="19"></line>
											<line x1="5" y1="12" x2="19" y2="12"></line></g></svg>
						<span
							class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40">Create
							new group</span>
					</div>
					<div class="reset-3c756112--menuDivider-066b56e3"></div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
</div>
</div>
<script th:src="@{/js/dashboard.js}" type="text/javascript"></script>
</body>
</html>