<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teams인뎁쇼</title>
<link href="/css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="reset-3c756112--app-68cac36c">
<div class="reset-3c756112--dashboardBody-16d7793c">

<div th:insert="/include/dashboardNavi.html :: dashboardNavi"></div> 

<div class="reset-3c756112--dashboardInner-bfcc3d9a">
<div class="reset-3c756112--dashboardContent-33678280">

<div th:insert="/include/dashboardMenu.html :: dashboardMenu"></div>

	<div class="reset-3c756112--dashboardTab-2357d04a--dashboardTabWithMenu-1be0e63a">
		<div class="reset-3c756112--dashboardTab-6c6dd16c">
			<div class="reset-3c756112--dashboardTabHeader-f7d1f108--S400Bottom-9b457f18">
				<span class="text-4505230f--InfoH200-3a8a7a86--textUIFamily-5ebd8e40--orgTitle-22ea4f82">${dashboardName}</span>
				<div class="reset-3c756112--dashboardTabContent-12b621e6">
					<div class="reset-3c756112--mobileMenuContainer-19573906">
						<button
							class="button-36063075--small-30ceeddb--button-78c61f17--button-dark-50f870b6--small-54db2a94--mobileMenuButton-42ab09c4">
							<span class="small-3bde6db7--iconOnly-bddce91a">
								<svg
									preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
									fill="none" xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" stroke="currentColor"
									class="icon-7f6730be--text-3f89f380">
									<g>
									<line x1="3" y1="12" x2="21" y2="12"></line>
									<line x1="3" y1="6" x2="21" y2="6"></line>
									<line x1="3" y1="18" x2="21" y2="18"></line></g></svg></span><span
								class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--text-8ee2c8b2"></span>
						</button>
					</div>
					<div class="reset-3c756112--titleContainer-b2de0990">
						<span
							class="text-4505230f--DisplayH900-bfb998fa--textUIFamily-5ebd8e40--white-42ab09c4">Teams</span>
					</div>
					<div class="reset-3c756112--actionsContainer-15fb9d8d"></div>
				</div>
			</div>
			
			<div class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--medium-1b61b7b5">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">All members</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div class="reset-3c756112--teamFilters-e0759ade">
							<span
								class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--teamFilter-5011e852--teamFilterActive-42ab09c4"
								role="button" tabindex="0">All</span><span
								class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--teamFilter-5011e852"
								role="button" tabindex="0">Writer</span><span
								class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40--teamFilter-5011e852"
								role="button" tabindex="0">Admin</span>
						</div>
					</div>
				</div>
				<div
					class="reset-3c756112--panelBody-19b86669--dark-9f89be6e--medium-b7383e74--withScrollbar-39338630--scrollAxisY-7680295e--teamPanelMembers-c72ef26c">
					<div class="reset-3c756112--teamPanelMembersGrid-4c5fa14c">
						<div
							class="reset-3c756112--S400Top-02771c54--teamPanelMembersGridItem-e5314f8c">
							<div role="button" tabindex="0"
								class="reset-3c756112--teamPanelMember-2f79c7a6--teamPanelMemberClickable-a079aa82">
								<div
									class="reset-3c756112--tooltipContainer-7fdb9b70--large-8e58dfee--circle-6c5acd10">
									<div
										class="reset-3c756112--avatarFrame-2f40cdc9--large-8e58dfee--circle-6c5acd10"
										role="presentation">
										<img class="image-67b14f24--avatar-1c1d03ec"
											src="https://lh3.googleusercontent.com/a-/AOh14GgMEk_JVwJ1YSLaAsiqwtwNIoPVGTC3_WGhkQWL8A">
										<div class="reset-3c756112--innerShadow-7a3a8651"></div>
									</div>
								</div>
								<div class="reset-3c756112--teamPanelMemberContent-04a01aea">
									<div class="reset-3c756112--teamPanelMemberName-4505230f">
										<span
											class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">Liz</span>
									</div>
									<div class="reset-3c756112--teamPanelMemberRole-2c5d8183">
										<span
											class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40">Writer</span>
									</div>
								</div>
							</div>
						</div>
						<div
							class="reset-3c756112--S400Top-02771c54--teamPanelMembersGridItem-e5314f8c">
							<div role="button" tabindex="0"
								class="reset-3c756112--teamPanelMember-2f79c7a6--teamPanelMemberClickable-a079aa82">
								<div
									class="reset-3c756112--tooltipContainer-7fdb9b70--large-8e58dfee--circle-6c5acd10">
									<div
										class="reset-3c756112--avatarFrame-2f40cdc9--large-8e58dfee--circle-6c5acd10"
										role="presentation">
										<img class="image-67b14f24--avatar-1c1d03ec"
											src="https://lh3.googleusercontent.com/-vnngEZunLK4/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJMMQ1DtzMCQM3MEV5BzYkP9HXf_dQ/photo.jpg">
										<div class="reset-3c756112--innerShadow-7a3a8651"></div>
									</div>
								</div>
								<div class="reset-3c756112--teamPanelMemberContent-04a01aea">
									<div class="reset-3c756112--teamPanelMemberName-4505230f">
										<span
											class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">박주영</span>
									</div>
									<div class="reset-3c756112--teamPanelMemberRole-2c5d8183">
										<div
											class="reset-3c756112--badge-2697c26c--primary-2fc3f636--small-5fbe8aa0">
											<span
												class="text-4505230f--InfoH100-1e92e1d1--textUIFamily-5ebd8e40--badgeText-97a8e982--small-59441e5c">Owner</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div
							class="reset-3c756112--S400Top-02771c54--teamPanelMembersGridItem-e5314f8c">
							<div role="button" tabindex="0"
								class="reset-3c756112--teamPanelMember-2f79c7a6--teamPanelMemberClickable-a079aa82">
								<div
									class="reset-3c756112--tooltipContainer-7fdb9b70--large-8e58dfee--circle-6c5acd10">
									<div
										class="reset-3c756112--avatarFrame-2f40cdc9--large-8e58dfee--circle-6c5acd10"
										role="presentation">
										<img class="image-67b14f24--avatar-1c1d03ec"
											src="https://gblobscdn.gitbook.com/users%2FIR8rlUhGuJOEVzaRL8eE9FmLRIO2%2Favatar-1590479261730.png?alt=media">
										<div class="reset-3c756112--innerShadow-7a3a8651"></div>
									</div>
								</div>
								<div class="reset-3c756112--teamPanelMemberContent-04a01aea">
									<div class="reset-3c756112--teamPanelMemberName-4505230f">
										<span
											class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">yena</span>
									</div>
									<div class="reset-3c756112--teamPanelMemberRole-2c5d8183">
										<span
											class="text-4505230f--UIH200-50ead35f--textUIFamily-5ebd8e40">Admin</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="reset-3c756112--panelFooter-66b9e28a--medium-b7383e74--dark-9f89be6e">
					<div class="reset-3c756112--panelFooterHint-f9640952">
						<span
							class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">3
							members - This is your default team containing all organization
							members</span>
					</div>
				</div>
			</div>
			
			
			
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				role="presentation">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">팀</span>
						</div>
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">3
								members</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div
							class="reset-3c756112--ownerAvatarList-696792ce--avatars-e0759ade">
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://gblobscdn.gitbook.com/users%2FIR8rlUhGuJOEVzaRL8eE9FmLRIO2%2Favatar-1590479261730.png?alt=media">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://lh3.googleusercontent.com/-vnngEZunLK4/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJMMQ1DtzMCQM3MEV5BzYkP9HXf_dQ/photo.jpg">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://lh3.googleusercontent.com/a-/AOh14GgMEk_JVwJ1YSLaAsiqwtwNIoPVGTC3_WGhkQWL8A">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				role="presentation">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">New
								Team1</span>
						</div>
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">2
								members</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div
							class="reset-3c756112--ownerAvatarList-696792ce--avatars-e0759ade">
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://lh3.googleusercontent.com/-vnngEZunLK4/AAAAAAAAAAI/AAAAAAAAAAA/AAKWJJMMQ1DtzMCQM3MEV5BzYkP9HXf_dQ/photo.jpg">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://lh3.googleusercontent.com/a-/AOh14GgMEk_JVwJ1YSLaAsiqwtwNIoPVGTC3_WGhkQWL8A">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S300Bottom-9b4658d2--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--medium-1b61b7b5"
				role="presentation">
				<div class="reset-3c756112--panelHeader-2f79c7a6--medium-90fc7d46">
					<div class="reset-3c756112--panelHeaderLeft-f6ad52b8">
						<div class="reset-3c756112--panelHeaderTitle-c44ec79e">
							<span
								class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40">New
								Team</span>
						</div>
						<div class="reset-3c756112--panelHeaderHint-2c5d8183">
							<span
								class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">1
								member</span>
						</div>
					</div>
					<div class="reset-3c756112--panelHeaderRight-2f79c7a6">
						<div
							class="reset-3c756112--ownerAvatarList-696792ce--avatars-e0759ade">
							<div
								class="reset-3c756112--tooltipContainer-7fdb9b70--small-2ec8ae1a--circle-6c5acd10--ownerAvatarStackListItem-1b188f0f--darkOutline-a3afcd28">
								<div
									class="reset-3c756112--avatarFrame-2f40cdc9--small-2ec8ae1a--circle-6c5acd10"
									role="presentation">
									<img class="image-67b14f24--avatar-1c1d03ec"
										src="https://lh3.googleusercontent.com/a-/AOh14GgMEk_JVwJ1YSLaAsiqwtwNIoPVGTC3_WGhkQWL8A">
									<div class="reset-3c756112--innerShadow-7a3a8651"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="reset-3c756112--S200Bottom-9b47328c--panel-1b61b7b4--dark-095bdbe8--dark-7dfad810--dark-a885782e--small-1b61b7b4"
				role="presentation">
				<div
					class="reset-3c756112--panelBody-19b86669--dark-9f89be6e--small-2f9baf58">
					<div class="reset-3c756112--S100Bottom-15862a5a">
						<svg preserveAspectRatio="xMidYMid meet" fill="none"
							xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							stroke="currentColor" class="icon-7f6730be--medium-5b607319">
							<g>
							<line x1="12" y1="5" x2="12" y2="19"></line>
							<line x1="5" y1="12" x2="19" y2="12"></line></g></svg>
						<span
							class="text-4505230f--UIH300-2063425d--textUIFamily-5ebd8e40--S100Left-3e7ae28a">Create
							a team</span>
					</div>
					<div class="reset-3c756112">
						<span
							class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40--greyBase-2c5d8183">Create
							a new team to setup different access controls. A team can be
							added or removed from each space.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</body>
</html>