<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="navHeaderFragment">

			<!-- Header -->
	<div class="header text-center flex-direction:row">
		<h1 class="blog-name pt-lg-4 mb-0">
			<a href="space">hoya</a>
		</h1>

			<nav class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navigation" aria-controls="navigation"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</nav>

			<!-- Profile-Section -->
			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="profile-section pt-3 pt-lg-0">
					<img class="profile-image mb-3 rounded-circle mx-auto"
						src="/images/hoya.jpg" alt="image">
					<hr>
				</div>
				<!-- nav-section -->
				<ul class="navbar-nav flex-column" th:each="pageDetail: ${list}"  th:if="${pageDetail != null}">
					<li>
						<a th:href="@{/pageDetail(pageNo=${pageDetail.pageNo})}" th:text="${pageDetail.pageTitle}" >
						</a>
					</li>
				</ul>
				<ul class="nav-item">
					<li class="nav-item">
						<a class="nav-link" href="space">
							<i class="far fa-images"></i>
							File 
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="space">
							<i class="fas fa-plus"></i>
							New
						</a>
					</li>
				</ul>
			</div>
	</div>
	</header>
</body>
</html>