<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/sidenavDrawer.css" rel="stylesheet" type="text/css">
</head>
<body>

	<th:block th:fragment="sidenavDrawer(userInfo)">
		<div class="sidebarDrawer">
			<div class="sidebarDrawerInner">
				<div class="drawerContent">
					<div class="drawerContentHeader">
						<div class="drawerHeader">
							<div class="spaceSummary">
								<div class="ownerTitle">
									<span class="text-ownerTitle" th:text="${userInfo.spaceName}"></span>
								</div>
								<div class="spaceNameWrapper">
									<div class="spaceName">
										<span class="text-spaceName" th:text="${userInfo.name}"></span>
									</div>
								</div>
							</div>
							<div class="closeButton" role="presentation">
								<svg preserveAspectRatio="xMidYMid meet" fill="none"
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									stroke="currentColor" class="icon-medium">
								<g>
								<line x1="19" y1="12" x2="5" y2="12"></line>
								<polyline points="12 19 5 12 12 5"></polyline></g></svg>
							</div>
						</div>
					</div>
					<div class="drawerContentBody-with-scrollbar">
						<div class="draftsDrawer">
							<div class="controlsCenterTabHeader">
								<div class="draftTabs">
									<a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/draftList"> <span class="tabsItemInfo-draftTabs">drafts</span>
									</a> <a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/mergedList"> <span class="tabsItemInfo-draftTabs">merged</span>
									</a> <a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/archivedList"> <span class="tabsItemInfo-draftTabs">archived</span>
									</a>
								</div>
							</div>
							<div class="draftsListing">
								<div class="draftItemContainer">
									<div class="draftItem">
										<div class="draftCardActive" role="presentation">
											<div class="draftCardExtra">
												<div class="draftCardHeader">
													<div class="reset-3c756112">
														<div class="ownerAvatarList">
															<div aria-label="User1" class="ownerAvatarStackListItem">
																<div class="avatarFrame" role="presentation">
																	<img class="avatarImg"
																		src="https://lh3.googleusercontent.com/a-/AOh14GgMEk_JVwJ1YSLaAsiqwtwNIoPVGTC3_WGhkQWL8A">
																	<div class="innerShadow"></div>
																</div>
															</div>

															<div class="reset-3c756112"></div>
															<div class="reset-3c756112--white-42ab09c4"></div>
														</div>
													</div>
													<div class="draftCardHeaderAuthor">
														<div class="reset-3c756112"></div>
														<span class="text-draftAuthorInfo">Liz - <span
															title="Jun 1, 2020, 4:23 PM">9d</span>
														</span>
													</div>
												</div>


											</div>
											<div class="draftCardFooter">
												<div class="draftCardFooterActivitySummary"
													role="presentation">
													<div class="draftCardFooterActivitySummaryIcon">
														<svg preserveAspectRatio="xMidYMid meet" height="1em"
															width="1em" fill="none"
															xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
															stroke-width="2" stroke-linecap="round"
															stroke-linejoin="round" stroke="currentColor"
															class="icon-7f6730be--text-3f89f380">
																<g>
																<polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon>
																<line x1="3" y1="22" x2="21" y2="22"></line></g></svg>
													</div>
													<span class="text-activitySummary">0 edits</span>
												</div>

												<!-- 드래프트 카드 클릭시 오픈되는 부분 -->
												<!-- <div class="toolbar-small"
												style="grid-template-columns: repeat(2, auto);">
												<button class="button">
													<span class="iconOnly"><svg
															preserveAspectRatio="xMidYMid meet" height="1em"
															width="1em" fill="none"
															xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
															stroke-width="2" stroke-linecap="round"
															stroke-linejoin="round" stroke="currentColor"
															class="icon-7f6730be--text-3f89f380">
																	<g>
																	<line x1="18" y1="6" x2="6" y2="18"></line>
																	<line x1="6" y1="6" x2="18" y2="18"></line></g></svg></span><span
														class="textUIFamily-button"></span>
												</button>
												<button class="button">
													<span class="small"> <svg
															preserveAspectRatio="xMidYMid meet" height="1em"
															width="1em" fill="none"
															xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
															stroke-width="2" stroke-linecap="round"
															stroke-linejoin="round" stroke="currentColor"
															class="icon-7f6730be--text-3f89f380">
																	<g>
																	<polyline points="20 6 9 17 4 12"></polyline></g></svg></span><span
														class="textUIFamily">Save</span>
												</button>
											</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</th:block>
</body>
</html>