<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="sideNavDrawerFragment(userInfo)">

		<div class="reset-3c756112--sidebarDrawer">
			<div class="reset-3c756112--sidebarDrawerInner edit-bar"
				style="display: none;">
				<div class="reset-3c756112--drawerContent">
					<div class="reset-3c756112--drawerContentHeader">
						<div class="reset-3c756112--drawerHeader">
							<div class="reset-3c756112--spaceSummary">
								<div class="reset-3c756112--ownerTitle">
									<!--   -->
									<span class="text-ownerTitle" th:text="${userInfo.name}"></span>
								</div>
								<div class="reset-3c756112--spaceNameWrapper">
									<div class="reset-3c756112--spaceName">
										<!--th:text="${userInfo.name}"  -->
										<span class="text-spaceName" th:text="${userInfo.spaceName}"></span>
									</div>
								</div>
							</div>
							<div class="reset-3c756112--closeButton" role="presentation"
								data-toggle="offcanvas">
								<!-- <a onclick="closeNav()" data-toggle="offcanvas"></a> -->
								<svg preserveAspectRatio="xMidYMid meet" fill="none"
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									stroke="currentColor" class="icon-medium">
								<g>
								<line x1="19" y1="12" x2="5" y2="12"></line>
								<polyline points="12 19 5 12 12 5"></polyline></g></svg>
							</div>
						</div>
					</div>
					<!-- 드래프트 리스트 -->
					<div class="reset-3c756112--drawerContentBody-with-scrollbar">

						<div class="reset-3c756112--draftsDrawer">
							<div class="reset-3c756112--controlsCenterTabHeader">
								<div class="reset-3c756112--draftTabs">
									<!-- <div th:include="draft/draftList :: draftList"></div> -->
									<a role="button" tabindex="0"
										class="reset-3c756112--tabsItem-touchableView" type="button"
										href="#" onclick="functionBold()"><span class="tabsItemInfo-draftTabs">drafts</span>
									</a> <a role="button" tabindex="0"
										class="reset-3c756112--tabsItem-touchableView" href="#" onclick="functionBold()"> <span
										class="tabsItemInfo-draftTabs">merged</span>
									</a> <a role="button" tabindex="0"
										class="reset-3c756112--tabsItem-touchableView" href="#" > <span
										class="tabsItemInfo-draftTabs">archived</span>
									</a>
								</div>
							</div>
							<div id="draftList"></div>
							<div id="mergedList"></div>
							<div id="archivedList"></div>
							<!-- <th:if savedList 없으면 .placeholder 호출 , 있으면  > -->
							<!-- 	<div th:replace="draft/draftList :: draftList"></div> -->
							<!-- <div class="reset-3c756112--draftsPlaceholder">
								<div role="presentation" alt=""
									class="reset-3c756112--illustration--draftsPlaceholderImage"
									style="background-image: url(&quot;https://gstatic.gitbook.com/images/73188aba462371bfa26eab516a719e24.svg&quot;);"></div>
								<span class="draftsPlaceholderText">No drafts yet. Drafts
									contain changes that have not been merged yet. Start editing to
									create a draft.</span>
							</div> -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</header>
</body>
</html>