<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<header th:fragment="sideNavDrawerFragment(userInfo)">
	
		<div class="sidebarDrawer">
			<div class="sidebarDrawerInner">
				<div class="drawerContent">
					<div class="drawerContentHeader">
						<div class="drawerHeader">
							<div class="spaceSummary">
								<div class="ownerTitle"> <!--   -->
									<span class="text-ownerTitle" th:text="${userInfo.name}"></span>
								</div>
								<div class="spaceNameWrapper">
									<div class="spaceName"> <!--th:text="${userInfo.name}"  -->
										<span class="text-spaceName" th:text="${userInfo.spaceName}"></span>
									</div>
								</div>
							</div>
							<div class="closeButton" role="presentation">
								<svg preserveAspectRatio="xMidYMid meet" fill="none"
									xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									stroke="currentColor" class="icon-medium">
								<g>
								<line x1="19" y1="12" x2="5" y2="12"></line>
								<polyline points="12 19 5 12 12 5"></polyline></g></svg>
							</div>
						</div>
					</div>
					<!-- 드래프트 리스트 -->
					<div class="drawerContentBody-with-scrollbar">
					
						<div class="draftsDrawer">
							<div class="controlsCenterTabHeader">
								<div class="draftTabs">
									<a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/draftList"> <span class="tabsItemInfo-draftTabs">drafts</span>
									</a> <a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/mergedList"> <span class="tabsItemInfo-draftTabs">merged</span>
									</a> <a role="button" tabindex="0" class="tabsItem-touchableView"
										href="/archivedList"> <span class="tabsItemInfo-draftTabs">archived</span>
									</a>
								</div>
							</div>
							<div class="draftsListing">
							<th:block th:replace="~{draft/draftList :: draftList(${draftUserInfo})"/>
							
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</header>
</body>
</html>