<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<title>spacePage</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico">

<!-- FontAwesome JS-->
<script defer
	src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
	integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
	crossorigin="anonymous"></script>

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="/css/theme-1.css">
<script src="content-script.js"></script>
</head>

<body>

<h1>hello!!!!</h1>
	<!-- Header -->
	<header class="header text-center"> 
		<h1 class="blog-name pt-lg-4 mb-0">
			<a href="spacePage">hoya</a>
		</h1>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navigation" aria-controls="navigation"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Profile-Section -->
			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="profile-section pt-3 pt-lg-0">
					<img class="profile-image mb-3 rounded-circle mx-auto"
						src="/images/hoya.jpg" alt="image">

					<!--//bio-->
					<!-- <ul class="social-list list-inline py-3 mx-auto">
						<li class="list-inline-item"><a href="#"><i
								class="fab fa-twitter fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i
								class="fab fa-linkedin-in fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i
								class="fab fa-github-alt fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i
								class="fab fa-stack-overflow fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i
								class="fab fa-codepen fa-fw"></i></a></li>
					</ul> -->
					<hr>
				</div>

				<!-- nav-section -->
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item"><a class="nav-link" href="spacePage"><i
							class="fas fa-home fa-fw mr-2"></i>File <span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="spacePage"><i
							class="fas fa-bookmark fa-fw mr-2"></i>New</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Page Title,Content  -->
		<div class="main-wrapper">
				<div class="container" align="center">
					<input type="text" class="form-control" placeholder="Untitled"
						id="pageTitle" name="pageTitle">
				</div>
				<hr class="container">
				<div class="container">
					<textarea style="height: 400px" class="form-control"
						placeholder="Enter your content here..." id="pageConenet"
						name="pageConenet;"></textarea>
				</div>

				<hr class="container">
				<div class="container" align="right">
					<button type="submit"
						class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>

			<!-- Previous,Next -->

			<article class="container-center-plz">
				<div class="container" align="left">
					<button href="#" class="btn btn-primary">&laquo; Previous</button>
				</div>
				<div class="container" align="right">
					<button href="#" class="btn btn-primary">Next &raquo;</button>
				</div>
			</article>
		</div>

		<!-- Footer -->
		<footer class="footer text-center py-2 theme-bg-dark">
			<small class="copyright">Design <i class="fas fa-heart"
				style="color: #fb866a;"></i> by <a
				href="https://blog.naver.com/dustn0514" target="_blank">YeonSu(L
					tomas) </a>
			</small>
		</footer>
	</div>

	<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
	<div id="config-panel" class="config-panel d-none d-lg-block">
		<div class="panel-inner">
			<a id="config-trigger"
				class="config-trigger config-panel-hide text-center" href="#"><i
				class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
			<h5 class="panel-title">Choose Colour</h5>
			<ul id="color-options" class="list-inline mb-0">
				<li class="theme-1 active list-inline-item"><a
					data-style="/css/theme-1.css" href="#"></a></li>
				<li class="theme-2  list-inline-item"><a
					data-style="/css/theme-2.css" href="#"></a></li>
				<li class="theme-3  list-inline-item"><a
					data-style="/css/theme-3.css" href="#"></a></li>
				<li class="theme-4  list-inline-item"><a
					data-style="/css/theme-4.css" href="#"></a></li>
				<li class="theme-5  list-inline-item"><a
					data-style="/css/theme-5.css" href="#"></a></li>
				<li class="theme-6  list-inline-item"><a
					data-style="/css/theme-6.css" href="#"></a></li>
				<li class="theme-7  list-inline-item"><a
					data-style="/css/theme-7.css" href="#"></a></li>
				<li class="theme-8  list-inline-item"><a
					data-style="/css/theme-8.css" href="#"></a></li>
			</ul>
			<a id="config-close" class="close" href="#"><i
				class="fa fa-times-circle"></i></a>
		</div>
	</div>

	<!-- Javascript -->
	<script src="/plugins/jquery-3.3.1.min.js"></script>
	<script src="/plugins/popper.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src="/js/demo/style-switcher.js"></script>

</body>
</html>