<!DOCTYPE html>
<html>
<head>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>pageContent</title>
</head>
<body>
	<th:block th:fragment="pageContent">

		<!-- Page Title,Content  -->
		<div class="main-wrapper">
				<div class="container" align="center">
					<input type="text" class="form-control" placeholder="Untitled"
						id="pageTitle" name="pageTitle">
				</div>
				<hr class="container">
				<div class="container">
					<textarea style="height: 400px" class="form-control"
						placeholder="Enter your content here..." id="pageConenet"
						name="pageConenet;"></textarea>
				</div>

				<hr class="container">
				<div class="container" align="right">
					<button type="submit"
						class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>

			<!-- Previous,Next -->

			<article class="container-center-plz">
				<div class="container" align="left">
					<button href="#" class="btn btn-primary">&laquo; Previous</button>
				</div>
				<div class="container" align="right">
					<button href="#" class="btn btn-primary">Next &raquo;</button>
				</div>
			</article>
		</div>

	</th:block>
</body>
</html>