<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>대시보드, 스페이스 공통내비게이션 입니다</title>
</head>
<body>


	<div class="sidebarContent">
		<div class="sidebarNav">
			<div class="navigation">


				<div class="navigation-body-with-scrollbar">
					<div class="navButtons">
						<div class="navigationButton-01" role="presentation">
							<div class="navigationButtonContent">
								<div class="navigationButtonIcon">
									<img alt="" src="">
								</div>
								<span class="navigationButtonTitle">Edits</span>
							</div>
						</div>
					</div>
					<div class="navigation-header">
						<a href="/@id/spaces">
							<div class="avatarFrame" role="presentation">
								<img class="avartarImg" src="">
							</div>

						</a>
					</div>
				</div>

				<div class="navigation-footer">
					<a href="/@withtokki/spaces">
						<div class="tooltipContainer">
							<div class="avatarFrame" role="presentation">
								<img class="avatar-image" src="">
							</div>
						</div>
					</a>
				</div>


				<div class="sidebarFooter">
					<a class="logoLink-7eaeba6b" href="/"><img alt="" src=""></a>
				</div>
			</div>
		</div>

	</div>

	<div class="sidebarDrawer">
		<div class="sidebarDrawerInner">
			<div class="drawerContent">
				<div class="drawerContentHeader">
					<div class="drawerHeader">
						<div class="spaceSummary">
							<div class="ownerTitle">
								<span
									class="text-4505230f--UIH400-4e41e82a--textUIFamily-5ebd8e40--white-42ab09c4">ORG1</span>
							</div>
							<div class="spaceNameWrapper">
								<div class="spaceName">
									<span
										class="text-4505230f--TextH200-a3425406--textUIFamily-5ebd8e40">New
										Rules</span>
								</div>
							</div>
						</div>
						<div class="closeButton" role="presentation">
							<img alt="" src="">
						</div>
					</div>
				</div>
				<div
					class="drawerContentBody-with-scrollbar"></div>
			</div>
		</div>
	</div>
</body>
</html>