<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>TEST</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <h1>admin</h1>
    <h2 sec:authentication='name'> security username </h2>
    <h3> [[${#authentication.name}]]</h3>


    <p sec:authorize-url ="/atest/aaa">
        <a href='/atest/aaa'>admin aaa</a>
    </p>


    <p sec:authorize-url ='/mtest/aaa'>
        <a href="/mtest/aaa">member aaa</a>
    </p>
</body>
</html>