<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>pageContent</title>
<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="context-path" th:content="@{/}" />
<!-- Link -->
<link rel="shortcut icon" href="favicon.ico">

<link th:href="@{/css/sidenav.css}" rel="stylesheet">
<link th:href="@{/css/sidenavDrawer.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/theme-1.css}" rel="stylesheet">
<link th:href="@{/css/theme-2.css}" rel="stylesheet">
<link th:href="@{/css/theme-3.css}" rel="stylesheet">
<link th:href="@{/css/theme-4.css}" rel="stylesheet">
<link th:href="@{/css/theme-5.css}" rel="stylesheet">
<link th:href="@{/css/theme-6.css}" rel="stylesheet">
<link th:href="@{/css/theme-7.css}" rel="stylesheet">

<!-- FontAwesome JS-->
<script defer
	src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
	integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7"
	crossorigin="anonymous"></script>

<!-- Theme CSS -->
<link id="theme-style" rel="stylesheet" href="/css/theme-1.css">
<script src="content-script.js"></script>
</head>

<!-- Javascript_ -->
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<style type="text/css">
.btnPre {
	float: left;
}

.btnNext {
	float: right;
}

.btnSave {
	margin-left: 250px;
}
</style>
<script type="text/javascript">
	function save() {

	}
</script>
</head>
<body>
	<th:block th:replace="common/nav/sidenav"></th:block>
	<th:block th:replace="common/nav/sidenavDrawer"></th:block>
	<th:block th:replace="common/nav/navHeader"></th:block>
	<th:block th:fragment="pageContent">

		<!-- Page Title,Content  -->
		<div class="main-wrapper">
			<form action="/pageSave" method="get">
				<div class="container" align="center">
					<th:block th:each="ld : ${listDetail}" th:if="${listDetail != null}">
					<th:out>NOT NULL</th:out>
					<input th:value="${ld.pageTitle}" type="text" class="form-control" placeholder="Untitled" 
						id="pageTitle" name="pageTitle" />
					</th:block>
					<th:block th:each="ld : ${listDetail}" th:unless="${listDetail != null && listDetail != ''}">
					<span>null</span>
					<input type="text" class="form-control" placeholder="Untitled" 
						id="pageTitle" name="pageTitle" />
					</th:block>
				</div>
				<hr class="container" style="width: 400px;" />
				<div class="container" align="center">
					<th:block th:each="ld : ${listDetail}" th:if="${listDetail != null && listDetail != ''}">
					<textarea style="height: 400px" class="form-control" placeholder="Enter your content here..."
						id="pageContent" name="pageContent" th:text="${ld.pageContent}"></textarea>
					</th:block>
					<th:block th:each="ld : ${listDetail}" th:unless="${listDetail != null && listDetail != ''}">
					<textarea style="height: 400px" class="form-control" placeholder="Enter your content here..."
						id="pageContent" name="pageContent"></textarea>
					</th:block>
				
				</div>

				<hr class="container" style="width: 400px;" />
				<!-- Previous,Next -->

				<div class="container-center-plz">
					<!-- 수정  -->
					<div class="container" style="left: 10px;">
						<button class="btn btn-primary btnPre">&laquo; Previous</button>
						<button onclick="save();" type="submit"
							class="btn btn-primary btnSave">저장하기</button>
						<button class="btn btn-primary btnNext">Next &raquo;</button>
					</div>
				</div>
			</form>
		</div>
	</th:block>
	<!-- Javascript -->
	<script src="/plugins/jquery-3.3.1.min.js"></script>
	<script src="/plugins/popper.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src="/js/demo/style-switcher.js"></script>
</body>
</html>