<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
<title>pageContent</title>

<!-- editor 적용 -->
<!-- include libraries(jQuery, bootstrap) -->
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"> <!--각종 글꼴, 에디터글쓰기의 사이즈까지 다 먹어버림 -->
<script	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet"/>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

<!-- include summernote-ko-KR -->
<script src="js/summernote-ko-KR.js"></script>
<!-- editor end -->

<style type="text/css">
.btnPre {
	float: left;
}

.btnNext {
	float: right;
}

.btnSave {
	margin-left: 250px;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$('#summernote').summernote({
		placeholder : 'Enter your content here...',
		maximumImageFileSize : 10000 * 1024 * 1024,
		minHeight : 370,
		maxHeight : null,
		focus : true, //로딩후 포커스 맞춤
		lang : 'ko-KR',
		callbacks : {
			onImageUpload : function(files) {
				console.log(files[0].name+"   "+files[0].size);
				uploadSummernoteImageFile(files[0],this);
			} 
		}
	});
	
/* 	$(function() {
		getModalFormEditPage("editPage-popup-link");
	}); */
});

<!--  callback 함수에서  onImageUpload 함수 사용 -->
<!-- 이미지 파일 업로드 -->
function uploadSummernoteImageFile(file, editor) {
	alert("file"+file.name)

	data = new FormData();
	data.append("file", file);
	$.ajax({
		data : data,
		type : "POST",
		url : "/uploadSummernoteImageFile",
		contentType : false,
		processData : false,
		success : function(data) {
			$(editor).summernote('insertImage', data.url);
		}
	});
	$("div.note-editable").on('drop',function(e){
		for(i=0; i< e.originalEvent.dataTransfer.files.lenght; i++){
			uploadSummernoteImageFile(e.originalEvent.dataTransfer.files[i], $("#summernote")[0]);
		}
		e.preventDefault();
	});
}

/* 
function goWrite(){
	var frm = document.forms("frm")
	console.log(frm);
	var pageContent = frm.pageContent.value;
	if(pageContent.trim() == null || pageContent == ""){
		alert("내용 입력 좀");
		return false;
	}
	//frm.submit();
} */

<!-- 빈 칸 없게 만드는 코드 -->
function goWrite(frm){
	var pageContent = frm.pageContent.value;
	
	if(pageContent.trim() == ''){
		alert("내용 입력 좀");
		return false;
	}
	frm.submit();
}


<!-- delete 스크립트  -->
function del(pageNo) {
	 var chk = confirm("글을 삭제하시겠나이까"); 
	 if (chk) {
		location.href='/delete?pageNo='+pageNo;
		
	} 
}

/* function aaabbb() {
	alert("1");
	getModalFormEditPage("editPage-popup-link");
} */
</script>
</head>
<body>
	<div layout:fragment="pageContent"></div>
		<!-- Page Title,Content  -->
		<div class="main-wrapper">
			<form action="/pageSave" method="get">
				<div class="container" align="center">
					<!-- Null -->
					<th:block th:if="${pageDetail == null}">
						<input type="text" class="form-control" placeholder="Untitled"
							id="pageTitle" name="pageTitle" />
					</th:block>

					<!-- Not Null -->
					<th:block th:if="${pageDetail != null}">
						<input th:value="${pageDetail.pageTitle}" type="text"
							class="form-control" placeholder="Untitled" id="pageTitle"
							name="pageTitle" style="width: 600px;" />
					</th:block>
				</div>
				<div class="container" >
				<hr class="container" />
				

					<!-- Null  -->
						<th:block th:if="${pageDetail == null}">
							<textarea id="summernote" name="pageContent" class="form-control"></textarea>
						</th:block>

					<!-- Not Null  -->
						<th:block th:each="ld : ${pageDetail}"
							th:if="${pageDetail != null}">
						<textarea id="summernote" name="pageContent" class="form-control" th:text="${ld.pageContent}"></textarea>
								 
						</th:block>
				</div>
				<hr class="container" style="width: 400px;" />
				<!-- 작성 시간, 수정 시간  -->
			   <!-- <span th:text="${#temporals.format(ld.pageSavetime, 'yyyy-MM-dd HH:mm')}"></span> -->
				
			
			<!-- Previous,Next -->
			<div class="container-center-plz">
				<!-- 수정  -->
				<div class="container" style="left: 10px;" th:each="ld : ${pageDetail}">
					<a class="btn btn-primary btnPre" th:href="@{/pageDetail(pageNo=${ld.prev})}">&laquo; Previous</a>
					<input onclick="goWrite(this.form)" type="button" class="btn btn-primary btnSave" value="저장하기">
<!-- 				<input type="button" class="btn btn-primary btnDelete" value="삭제하기" th:onclick="'javascript:del('+${pageDetail.pageNo}+')'"> -->
					<a class="btn btn-primary btnNext" th:href="@{/pageDetail(pageNo=${ld.next})}">Next &raquo;</a>
				</div>
			</div>
			</form>
		</div>
</body>
</html>